<table style="width:100%;border-collapse:collapse">
    <tr>
        <td style="vertical-align: top">
            <jqxPivotDesigner [type]="pivotGrid" [width]="300" [height]="400">
            </jqxPivotDesigner>
        </td>
        <td  style="vertical-align: top">
            <jqxPivotGrid #pivotGrid [width]="800" [height]="400" [source]="pivotDataSource" [treeStyleRows]="false"
                [autoResize]="true" [multipleSelectionEnabled]="true" [localization]="localization"
                (onPivotitemclick)="Pivotitemclick($event)" (onPivotcellclick)="Pivotcellclick($event)"
                (onPivotitemexpanded)="Pivotitemexpanded($event)">
            </jqxPivotGrid>
        </td>
        <td  style="vertical-align: top">
            <button class="text-center" (click)="clearLog()">Clear Log</button>
            <div [innerHTML]="text"></div>
        </td>
    </tr>
</table>